In [5]:
2+2

4

In [3]:
import pandas as pd
import numpy as np

In [3]:
d = {'col1':[1,2,3,4,7],'col2' : [4,5,6,8,9]}
df = pd.DataFrame(data = d)
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     8
4     7     9

In [7]:
health_data = pd.read_csv(r'biostats.csv')
print(health_data)

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [8]:
data = health_data.head()
print(data)

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41              74              170
1  Bert         "M"      42              68              166
2  Carl         "M"      32              70              155
3  Dave         "M"      39              72              167
4  Elly         "F"      30              66              124

In [9]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             18 non-null     object
 1        "Sex"       18 non-null     object
 2    "Age"           18 non-null     int64
 3    "Height (in)"   18 non-null     int64
 4    "Weight (lbs)"  18 non-null     int64
dtypes: int64(3), object(2)
memory usage: 848.0+ bytes
None

In [13]:
print(health_data.describe())

           "Age"   "Height (in)"   "Weight (lbs)"
count  18.000000       18.000000        18.000000
mean   34.666667       69.055556       146.722222
std     7.577055        3.522570        22.540958
min    23.000000       62.000000        98.000000
25%    30.000000       66.250000       132.000000
50%    32.500000       69.500000       150.000000
75%    38.750000       71.750000       165.250000
max    53.000000       75.000000       176.000000

In [14]:
std = np.std(health_data)
print(std)

 "Age"              7.363574
 "Height (in)"      3.423322
 "Weight (lbs)"    21.905873
dtype: float64

In [15]:
cv = std/np.mean(health_data)
print(cv)

 "Age"             0.212411
 "Height (in)"     0.049573
 "Weight (lbs)"    0.149302
dtype: float64

In [16]:
var = np.var(health_data)
print(var)

 "Age"              54.222222
 "Height (in)"      11.719136
 "Weight (lbs)"    479.867284
dtype: float64

In [25]:
import matplotlib.pyplot as plt

plt.show()

AttributeError: 'DataFrame' object has no attribute 'plt'